*.py[cod]

build
devel

profile.tmp

ssd_inception_v2_coco_2018_01_28

frozen_models/frozen_simulator_inception
frozen_models/frozen_site_inception
frozen_models/frozen_simulator_inception/saved_model
frozen_models/frozen_simulator_inception/model*

/*.config

*.record